#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 17s ease forwards;
}

#logo path:nth-child(1) {
  stroke-dasharray: 2020px;
  stroke-dashoffset: 2020px;
  animation: line-anim 4s ease forwards 0.7s;
}

#logo path:nth-child(2) {
  stroke-dasharray: 1381px;
  stroke-dashoffset: 1381px;
  animation: line-anim 4s ease forwards 0.7s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 2131px;
  stroke-dashoffset: 2131px;
  animation: line-anim 4s ease forwards 0.7s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 573px;
  stroke-dashoffset: 573px;
  animation: line-anim 4s ease forwards 0.7s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  animation: line-anim 4s ease forwards 0.7s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  animation: line-anim 4s ease forwards 0.7s;
}

#logo #ear, #logo #ear2 {
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  animation: line-anim 4s ease forwards 0.7s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: rgb(108, 18, 189);
  }
}
